%div.ad
  %a{:href => "http://www.amazon.co.jp/gp/product/0764195824/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=0764195824&linkCode=as2&tag=kenzan80000d-22"}
    %img{:border => "0", :src => "http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0764195824&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=kenzan80000d-22"}
      %img{:alt => "", :border => "0", :height => "1", :src => "http://ir-jp.amazon-adsystem.com/e/ir?t=kenzan80000d-22&l=as2&o=9&a=0764195824", :style => "border:none !important; margin:0px !important;", :width => "1"}
%div.ad-description-wrapper
  %div.ad-description
    %a{:href => "http://www.amazon.co.jp/gp/product/0764195824/ref=as_li_tf_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0764195824&linkCode=as2&tag=kenzan8000-22"}
      %img{:alt => "", :border => "0", :height => "1", :src => "http://ir-jp.amazon-adsystem.com/e/ir?t=kenzan8000-22&l=as2&o=9&a=0764195824", :style => "border:none !important; margin:0px !important;", :width => "1"}
        Mastering the American Accent
    %p
      アメリカ英語の発音・アクセントのテキストです。本書は、母音・子音の発音や単語のストレス、イントネーションの付け方、リンキングサウンドなどを体系的に網羅しています。付属のCDが4枚付いており、シャドーイングにも適しています。ただ、分量が膨大なので、期間を決めて計画的に勉強した方が良いかもしれません。管理人は最近、本書を勉強し始めました。挫折しちゃいそうだから、一緒にアメリカンアクセントをマスターしませんか？
