%div.header-wrapper

  %div.header.pure-menu.pure-menu-open.pure-menu-horizontal
    %a.pure-menu-heading{:href => "/"}
      %img.header-logo{:src => "/img/common_chameleon.png"}
      &nbsp;repeat after me
      %span.header-sub-title &nbsp;- for learning Japanese -

    %ul
      -if session[:user_name]
        %li
          %a{:href => "/user"}
            %i.fa.fa-user
            My Page
        %li
          %a{:href => "/record/titles"}
            %i.fa.fa-list-alt
            Phrases
        %li
          %a{:href => "/logout"}
            %i.fa.fa-sign-out
            Signout
      -else
        %li
          %a{:href => "/tutorial"}
            %i.fa.fa-mortar-board
            How to Use
        %li
          %a{:href => "/login"}
            %i.fa.fa-sign-in
            Singin
