%div.header-wrapper

  %div.header.pure-menu.pure-menu-open.pure-menu-horizontal
    %a.pure-menu-heading{:href => "/"}
      %img.header-logo{:src => "/img/common_chameleon.png"}
      &nbsp;repeat after me
      %span.header-sub-title &nbsp;- 声を出して練習する英語学習サイト -

    %ul
      -if session[:user_name]
        %li
          %a{:href => "/user"}
            %i.fa.fa-user
            マイページ
        %li
          %a{:href => "/record/titles"}
            %i.fa.fa-list-alt
            フレーズ
        %li
          %a{:href => "/logout"}
            %i.fa.fa-sign-out
            サインアウト
      -else
        %li
          %a{:href => "/tutorial"}
            %i.fa.fa-mortar-board
            使い方
        %li
          %a{:href => "/login"}
            %i.fa.fa-sign-in
            サインイン
