!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title 録音してみよう

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/record_post.js"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "/css/app.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/record.css", :rel => "stylesheet", :type => "text/css"}
  %body
    =haml :header

    %div.content

      %div.bread-crumbs
        &gt;&nbsp;
        %a.bread-crumb{:href => "/record/titles"} 早口言葉
        &nbsp;&gt;&nbsp;
        %p.caption 録音してみよう

      %div.record
        / google tts
        %div.tts_wrapper.bread-crumb
          %a.tts-play-button.pure-button.get-started-button{:onclick => "playTTS('#{@tts_uri.to_s}');"}
            %i.fa.fa-play &nbsp;&nbsp;Google先生のお手本

        / record title and American IPA
        %p.record-title
          - for i in 0..@record_title.length
            %ruby
              %rb #{@record_title[i]}
              %rt.ruby-char #{@ipa[i]}

        / buttons
        %p.record-button-wrapper
          %a.pure-button.record-button.record-start-button#record_button{:onclick => "toggleRecording();"}
            %i.fa.fa-microphone#record_icon &nbsp;録音
          &nbsp;
          %audio.recorded-voice-player#recorded_voice_player{:autoplay => "false", :controls => ""}
          &nbsp;
          %a.pure-button.record-button.record-post-button#post_button{:onclick => "postMp3();"}
            %i.fa.fa-check#post_icon &nbsp;投稿

      = haml :ad

    =haml :footer
