!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Phrases | REPEAT AFTER ME - for learning Japanese -

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/app.js"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "/css/app.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/titles.css", :rel => "stylesheet", :type => "text/css"}
  %body
    =haml :header

    %div.content
      %div.bread-crumbs
        &gt;&nbsp;
        %p.caption Phrases

      %div.title-wrapper
        - for i in 0..@record_categories_en.length-1
          %div.title
            %a.title-link{:href => "/record/titles/#{@record_categories_en[i]}"}
              #{@record_categories_en[i]}
            %span.title-description &nbsp;&nbsp;&nbsp;#{@record_counts[i]} Phrases

      = haml :ad

    =haml :footer
