*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  background: #fff

.splash
  position: relative
  width: 100%
  height: auto
  top: 0
  left: 0

.splash-button
  position: absolute
  text-align: center
  left: 35%
  width: 30%
  bottom: 20%

.readily-button
  padding: 2em 0 2em 0

.get-started-button
  color: white
  border-radius: 4px
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
  background: #3498db
  padding-left: 2em
  padding-right: 2em
  font-size: 120%


@media (max-width: 639px)
  .pure-img-responsive
    width: 640px
    height: auto
@media (min-width: 640px)
  .pure-img-responsive
    max-width: 100%
    height: auto
