$content-padding: 2em


// common
.align-left
  text-align: left


// content
.content
  padding: 0 $content-padding $content-padding $content-padding

.title-wrapper
  background: #e8e8e8
  padding: $content-padding $content-padding

.title
  background: #fff
  padding: $content-padding $content-padding
  border-bottom-style: solid
  border-bottom-color: #e8e8e8
  border-bottom-width: 2px
  a:link
    color: #2980b9
    text-decoration: none
  a:visited
    color: #2980b9
    text-decoration: none
  a:hover
    color: #3498db
    text-decoration: none
  a:active
    color: #3498db
    text-decoration: none

.title-link
  vertical-align: middle
  font-size: 1.5em
  font-weight: bold

.title-description
  vertical-align: middle
