$content-padding: 2em


// common
.align-left
  text-align: left


// content
.content
  padding: 0 $content-padding $content-padding $content-padding

.titles-wrapper
  background: #e8e8e8
  padding: $content-padding $content-padding

.titles
  background: #fff
  padding: $content-padding $content-padding
