// variable
$header-footer-padding: 0.5em 0 0.5em 0
$content-width: 960px
$content-padding: 2em


// common
body
  color: #7f8c8d
  font-size: 16px

.is-center
  text-align: center

.disable
  opacity: 0.25
  -moz-opacity: 0.25
  -khtml-opacity: 0.25
  filter: alpha(opacity=40)

.logo
  width: auto
  height: 58px
  vertical-align: middle


// header
.header-wrapper
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 1.0)
  text-align: center

.header
  max-width: $content-width
  margin: 0 auto
  padding: $header-footer-padding
  text-align: center
  &.pure-menu-open
    background: white
  .pure-menu
    padding: 5px 0
  .pure-menu-heading
    padding: 5px 0
    color: #333
    font-weight: 400
    font-size: 120%
  .pure-menu-selected a
    color: #666
  a
    color: #3498db
  li a
    &:hover, &:focus
      background: #ecf0f1
      border: none
      color: #2980b9

.header-logo
  width: auto
  height: 29px
  vertical-align: middle

.header-sub-title
  font-size: 70%
  color: #999
  vertical-align: middle

@media (min-width: $content-width)
  .header
    text-align: left
    ul
      float: right


// footer
.footer-wrapper
  background: #bdc3c7
  width: 100%
  text-align: right

.footer
  padding: $header-footer-padding
  margin: 0 auto
  width: 100%
  color: #888


// content
.content
  max-width: $content-width
  margin: 0 auto
  padding: $content-padding $content-padding

.caption
  color: #666
  vertical-align: middle

.bread-crumbs
  margin: 0 0 $content-padding 0
  a:link
    color: #2980b9
    text-decoration: none
  a:visited
    color: #2980b9
    text-decoration: none
  a:hover
    color: #3498db
    text-decoration: none
  a:active
    color: #3498db
    text-decoration: none
  .caption
    display: inline

.bread-crumb
  vertical-align: middle


// ad
.ad-wrapper
  padding-top: $content-padding
  text-align: left
  a:link
    color: #2980b9
    text-decoration: none
  a:visited
    color: #2980b9
    text-decoration: none
  a:hover
    color: #3498db
    text-decoration: none
  a:active
    color: #3498db
    text-decoration: none

.ad
  display: inline-block
  width: 21%

.ad-description-wrapper
  display: inline-block
  width: 79%
  height: 250px
  vertical-align: top
  background: white
  overflow: scroll

.ad-description
  margin: 1em 1em
  word-break: break-all
