// common
body
  color: #7f8c8d
  font-size: 16px


// header
.header-wrapper
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 1.0)
  text-align: center

.header
  max-width: 960px
  margin: 0 auto
  padding: 0.5em
  text-align: center
  .header-sub-title
    font-size: 70%
    color: #999
  &.pure-menu-open
    background: white
  .pure-menu-heading
    color: #333
    font-weight: 400
    font-size: 120%
  .pure-menu-selected a
    color: #666
  a
    color: #3498db
  li a
    &:hover, &:focus
      background: #ecf0f1
      border: none
      color: #2980b9

.pure-menu.pure-menu-open
  border-bottom: none

@media (min-width: 48em)
  .header
    text-align: left
    ul
      float: right


// footer
.footer
  padding: 0.5em
  text-align: right
  color: #666
  background: #bdc3c7


// content
.content
  max-width: 960px
  margin: 0 auto
  padding: 0.5em
