*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


.splash
  width: 100%
  height: auto
  top: 0
  left: 0


.is-center
  text-align: center

.button-get-started
  color: white
  border-radius: 8px
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
  background: #3498db
  font-size: 240%


@media (max-width: 639px)
  .pure-img-responsive
    width: 640px
    height: auto
@media (min-width: 640px)
  .pure-img-responsive
    max-width: 100%
    height: auto
