*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


.splash-container
  background: white
  z-index: 1
  overflow: hidden
  width: 100%
  height: 88%
  max-height: 1280px
  top: 0
  left: 0
  position: fixed !important

.splash
  width: 100%
  height: 100%
  margin: auto
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  text-align: center
  text-transform: uppercase


.content-wrapper
  position: absolute
  top: 87%
  width: 100%
  min-height: 12%
  z-index: 2
  background: white

.content-head
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.1em
  margin: 2em 0 1em

.content-head-ribbon
  color: white

.content-subhead
  color: #1f8dd6
  i
    margin-right: 7px


.ribbon
  background: #2d3e50
  color: #aaa

.l-box
  padding: 1em

.l-box-lrg
  padding: 2em
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

.get-started
  text-align: center


.is-center
  text-align: center

.button-get-started
  color: white
  border-radius: 8px
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
  background: #3498db
  font-size: 240%

.valign-center-wrapper
  position: relative
  top: 90%
  transform: translateY(-50%)

.valign-center
  position: relative
  top: 90%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)


.pure-img-responsive
  max-width: 100%
  height: auto


@media (min-width: 48em)
  body
    font-size: 16px
  .content
    padding: 1em
  .l-box-lrg
    border: none
