$content-padding: 2em


// common
.align-left
  text-align: left


// content
.content
  background: #ecf0f1

.record
  background: white
  padding: $content-padding $content-padding

.navigation-link
  margin: 0 0 $content-padding 0

.tts_wrapper
  color: #ccc
  background-color: #333
  width: 200px
  font-size: 400

.tts-play-button
  color: #ccc
  background-color: #333

.tongue-twister
  color: #333
  padding: 1.5em 0
  font-size: 240%

.ruby-char
  color: #ccc
  text-align: left


.record-button-wrapper
  margin: 0 0

.record-button
  font-size: 120%
  color: white
  border-radius: 8px

.record-start-button
  background: #34495e

.record-stop-button
  background: #e74c3c

.play-start-button
  background: #e74c3c

.play-stop-button
  background: #7f8c8d

.post-button
  background: #f39c12
