$content-padding: 2em


// common
.align-left
  text-align: left


// content
.content
  background: #ecf0f1

.record
  background: white
  padding: $content-padding $content-padding

.tts_wrapper
  color: #ccc
  background-color: #333
  width: 200px
  font-size: 400

.tts-play-button
  color: #ccc
  background-color: #333

.record-title
  color: #333
  padding: 2.0em 0 1.5em 0
  font-size: 240%

.ruby-char
  color: #ccc
  text-align: left


.record-button-wrapper
  margin: 0 0
  vertical-align: middle

.record-button
  font-size: 120%
  width: 140px
  width: 64px
  color: white
  border-radius: 8px
  text-align: center
  vertical-align: middle

.record-start-button
  background: #34495e
  vertical-align: middle

.record-stop-button
  background: #e74c3c
  vertical-align: middle

.record-indicator-button
  background: #2980b9
  vertical-align: middle

.recorded-voice-player
  vertical-align: middle

.post-button
  background: #f39c12
  vertical-align: middle
