// common
.align-left
  text-align: left


// content
.content
  background: #ecf0f1

.record
  background: white
  padding: 2em 2em

.tongue-twister
  color: #333
  font-size: 240%
  text-align: left

.ruby-char
  color: #ccc
  text-align: left


.record-button
  font-size: 160%
  color: white
  border-radius: 8px

.record-start-button
  background: #34495e

.record-stop-button
  background: #e74c3c

.play-start-button
  background: #e74c3c

.play-stop-button
  background: #7f8c8d
