%div.ad-wrapper
  %table
    %tr
      %td.ad
        =haml :ad_00
        &nbsp;&nbsp;
/      %td.ad
/        =haml :ad_01
/        &nbsp;&nbsp;
/      %td.ad
/        =haml :ad_02
/        &nbsp;&nbsp;
/      %td.ad
/        =haml :ad_03
/        &nbsp;&nbsp;
