%div.header.pure-menu.pure-menu-open.pure-menu-horizontal
  %a.pure-menu-heading{:href => "/"} repeat after me
  %ul
    -if session[:user_name]
      %li
        %a{:href => "/tongue_twisters"} Tongue Twisters
      %li
        %a{:href => "/my_page"} My Page
      %li
        %a{:href => "/logout"} Logout
    -else
      %li
        %a{:href => "/auth/facebook"} Login
