!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title REPEAT AFTER ME - カミながら練習する英語学習サイト -

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/app.js"}

    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/app.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/index.css", :rel => "stylesheet", :type => "text/css"}
  %body
    =haml :header

    %div.splash
      %img.pure-img-responsive{:src => "img/index_splash.jpg"}
      %p.splash-button
        %a.pure-button.get-started-button{:href => "/login"} 無料ではじめる

    %div.content
      %h2.introduction
        %img.logo{:src => "/img/common_chameleon_00.png"}
        面倒くさい
      %p 英会話教室へ通うのは、面倒ではありませんか？
      %br
      %br
      %h2.introduction
        %img.logo{:src => "/img/common_chameleon_01.png"}
        面倒くさい
      %p オンライン英会話を受けるのは、億劫ではありませんか？
      %br
      %br
      %h2.introduction
        %img.logo{:src => "/img/common_chameleon_02.png"}
        面倒くさい
      %p でも、英語を練習したい。そんなあなた、インターネットで英語を練習してみましょう！
      %br
      %br
      %h2.introduction
        %img.logo{:src => "/img/common_chameleon_03.png"}
        完全無料！
      %p Facebookアカウントで簡単登録。無料でご利用いただくことができます。

    %p.is-center.readily-button
      %a.pure-button.get-started-button{:href => "/login"} さっそくはじめる

    =haml :footer
