!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title REPEAT AFTER ME - 新しい英語スピーキングの練習サイト -

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/app.js"}

    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/app.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/index.css", :rel => "stylesheet", :type => "text/css"}
  %body
    =haml :header

    %div.splash
      %img.pure-img-responsive{:src => "img/index_splash.jpg"}
      %p.is-center
        %a.pure-button.get-started-button{:href => "/login"} はじめる

    %div.content
      %h2 hoge
      %p hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
      %h2 fuga
      %p fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga
      %h2 hoge
      %p hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
      %h2 fuga
      %p fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga fuga

    %p.is-center
      %a.pure-button.get-started-button{:href => "/login"} はじめる

    =haml :footer
