!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Repeat After Me - 自分の英語を録音してみよう -
"Authorize access to your account on SoundCloud - Create, record and share your sounds for free"
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/app.js"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/app.css", :rel => "stylesheet", :type => "text/css"}
  %body
    =haml :header

    %div.content
      %a{:href => "/auth/facebook"} login

    =haml :footer
