!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title 録音してみよう

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/recode.js"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "css/app.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/record.css", :rel => "stylesheet", :type => "text/css"}
  %body
    =haml :header

    %div.content

      %p.bread-crumbs
        &gt;
        %a.bread-crumb{:href => "/tongue_twisters"} 早口言葉

      %div.record
        / google tts
        %div.tts_wrapper
          %a.tts-play-button.pure-button.get-started-button{:onclick => "playTTS('#{@tts_uri.to_s}');"}
            %i.fa.fa-play &nbsp;&nbsp;Google先生のお手本

        / tongue twister and American IPA
        %p.tongue-twister
          - for i in 0..@tongue_twister.length
            %ruby
              %rb #{@tongue_twister[i]}
              %rt.ruby-char #{@ipa[i]}

        / buttons
        %p.record-button-wrapper
          %a.pure-button.record-button.record-start-button#record_button{:onclick => "toggleRecording();"}
            %i.fa.fa-microphone#record_icon &nbsp;録音
          &nbsp;
          %audio.recorded-voice-player#recorded_voice_player{:autoplay => "false", :controls => ""}
          &nbsp;
          %a.pure-button.record-button.post-button#post_button{:onclick => "postMp3();"}
            %i.fa.fa-check &nbsp;投稿

        %form(method="post" enctype='multipart/form-data')
          %input(type='file' name='file')
          %input(type='submit' value='upload')

          /%input#post_mp3(type='hidden' name='file' value='')

      = haml :ad

    =haml :footer
